.container{
  background-color: #1E2D51;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $my-font;
  color: white;
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  color: #1E2D51;
  margin: 0 10px;
}