---
title: Les éthiquetés - Tribus de marques et créateurs résistants 
---

<div class="container">
  <div>
    <%= inline_svg('logo') %>
    <p>Coming Soon</p>
    <br><br>
    <div class="icons">
      <a href="" class="icon-container">
        <div class="icon">
          <i class="fa fa-facebook"></i>
        </div>
      </a>
      <a href="" class="icon-container">
        <div class="icon">
          <i class="fa fa-instagram"></i>
        </div>
      </a>
    </div>

  </div>
</div>