---
title: Les éthiquetés - Tribus de marques et créateurs résistants 
---

<div class="container">
  <div>
    <%= inline_svg('logo') %>
    <p>Coming Soon</p>
    <br><br>
    <div class="icons">
      <a href="https://www.facebook.com/Lesethiquetes/" target="_blank" class="icon-container">
        <div class="icon">
          <i class="fa fa-facebook"></i>
        </div>
      </a>
      <a href="https://www.instagram.com/lesethiquetes/" target="_blank" class="icon-container">
        <div class="icon">
          <i class="fa fa-instagram"></i>
        </div>
      </a>
    </div>
    <br><br>
    <%= mail_to "myriam@lesethiquetes.fr", "myriam@lesethiquetes.fr" %>

  </div>
</div>